/* For outer box around the heatmap */
svg.chart-holder {
    border:1px solid cyan;
}


/* A little box showing the heatmap value on a given bin */
div.tooltip
{
    background-color: #eee;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;

    position:fixed;     /* This will allow it to follow the mouse */
}


/*
    For the axes
 */

g.axis-line {
    stroke: black;
    stroke-width: 1px;
}
g.ticks {
    stroke: grey;
}

g.tick-labels {
    fill: grey;
    font-size: 10px;
    font-family: sans-serif;
    text-anchor: middle;
    /* transform: translate(0, 1px);   Increase for larger font sizes */
}
g.tick-labels-left-axis {
   fill: grey;
   font-size: 10px;
   font-family: sans-serif;
   text-anchor: middle;
   /* transform: translate(-10px, 1px);   Increase for larger font sizes */
}