svg.chart-holder {
    border:1px solid cyan;
}
g.axis-line {
    stroke: black;
    stroke-width: 1px;
}
g.ticks {
    stroke: grey;
}
g.tick-labels {
    fill: grey;
    font-size: 10px;
    font-family: sans-serif;
    text-anchor: middle;
    transform: translate(0, 1px);   // Increase for larger font sizes
}